@import url(https://lsong.org/css/stylesheet.css);
@import url(https://lsong.org/stylesheets/flex.css);
@import url(https://lsong.org/stylesheets/list.css);
@import url(https://lsong.org/stylesheets/panel.css);
@import url(https://lsong.org/stylesheets/button.css);

button.active {
    color: #fff;
    background-color: green;
}

.list-item.active {
    color: green;
}
